.button_game {
    /* border-radius: 30%; */
    padding: 0;
    width: 200px;
    height: 180px;
    border: none;
    flex-basis: calc((100% - 16px) / 3);
    font-size: 160px;
    font-weight: 700;
    background-color: beige;
}

.container_button_field {
    /* border-radius: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 556px;
    background-color: black;
}

.container_button_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container_game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.container_main {
    width: 100vw;
    height: 100vh;
    background-image:
        radial-gradient(circle at center,
            rgb(0, 0, 0)10%,
            rgba(255, 255, 255, 0)),
        url('../../image/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}